@import "./nullStyle.css";
@import "preloader.css";
:root{
    --color-blue:rgba(28, 159, 255, 0.7);
    --color-white:rgba(255, 255, 255, 0.9);
    --color-blue-active:rgba(28, 159, 255, 0.05);
    --grid-list-users-columns: repeat(10, 1fr);
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


.container, .error_block{
    grid-column: 1/-1;
    margin: 0 auto;
}
.error_block{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-blue);
    font-size: 24px;
    font-weight: bold;
}
* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    outline: none;
}
a {
    color: var(--color-blue);
    border: 1px solid rgba(0, 0, 0, 0);
}
a:hover {
    color: var(--color-white);
    background: var(--color-blue);
}
.active {
    border: 1px solid var(--color-blue);
    background: var(--color-blue-active);
}
h1 {
    color: var(--color-blue);
    font-size: 48px;
    width: 100%;
    border-radius: 5px;
    padding-bottom: 50px;
}
h2 {
    width: 100%;
    font-size: 36px;
    padding: 20px;
    text-align: center;
    background: var(--color-blue);
    color:var(--color-white);
    border-radius: 5px;
}
h3 {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}
.content {
    margin: 0 auto;
    padding: 50px 5px 5px 5px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper-users, .wrapper-posts {
    width: 100%;
}
.list-users {
    display: grid;
    grid-template-columns: var(--grid-list-users-columns);
    justify-content: center;
    min-height: 50px;
    margin: 2px 0;
    border-radius: 5px;
}
.user-block {
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.user-block > a {
    padding: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.wrapper-posts {
    border-radius: 5px;
    border: 1px solid var(--color-blue);
    background: var(--color-blue);
}
.wrapper-posts > h2{
    background: none;
}
.list-posts {
    transition: all 0.5s;
    background:var(--color-white);
    padding: 10px;
    color: var(--color-blue);
    min-height: 100px;
    max-height:100px;
    overflow: hidden;
    border-radius: 5px;
}
.list-posts > .container, .list-posts > .error_block {
    padding-top: 25px;
}
.post-block:not(:last-child){
    margin-bottom: 15px;
}
.post-block > p:first-letter {
    text-transform: uppercase;
}
h3:first-letter {
    text-transform: uppercase;
}
@media screen and (max-width: 810px) {
    :root {
        --grid-list-users-columns: repeat(5, 1fr);
    }
}
@media screen and (max-width: 430px) {
    :root {
        --grid-list-users-columns: repeat(2, 1fr);
    }

}
